<%grouped_result=Organization.all_tech_areas_categorized
%>
<div class="col-xs-12 bg-grey">
  <div class="container">
    <div class="col-xs-12 p-0">
      <select class="form-control custom_field" id="tab-chooser">
        <option value="#tech_areas_tab">Technology Areas of Interest</option>
        <option value="#app_areas_tab">Application Areas</option>
        <option value="#problems_tab">Problems</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="tab-content tech-areas-tabs">
      <div id="tech_areas_tab" class="tab-pane fade active in">
        <%=render :partial => "tags_list",:locals => {:grouped_result=>grouped_result['technology_areas'] || {},:filter_type=>Organization::TechKeyWord}%>
      </div>
      <div id="app_areas_tab" class="tab-pane fade">
        <%=render :partial => "tags_list",:locals => {:grouped_result=>grouped_result['application_areas'] || {},:filter_type=>Organization::AppKeyWord}%>
      </div>
      <div id="problems_tab" class="tab-pane fade">
        <%=render :partial => "tags_list",:locals => {:grouped_result=>grouped_result['problems'] || {},:filter_type=>Organization::ProblemKeyWord}%>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#tab-chooser').change(function(){
    $('.tech-areas-tabs .active.in').removeClass('active in');
      $($(this).val()).addClass('active in');
  });
        $('.tags-table tr').click(function(){
            window.location.href=$(this).data().href
        });
</script>
<style type="text/css">
    .tags-table tr{
        cursor: pointer;
    }
</style>



