<%note ||= @note%>
<div class="modal fade" id="notes-form">
  <%= form_for note, :html => { :class => "form-horizontal contact" ,remote:true} do |f| %>
      <div class="modal-dialog mb-20">
        <div class="modal-content">
          <div class="modal-body">
            <div class="left-inner-addon mb-20">
              <%= f.text_area :description, :class => 'form-control' %>
              <%=f.error_span(:description) %>
            </div>
            <%= f.hidden_field :organization_id, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="custom_button" >Save</button>
        <br/>
        <br/>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
  <%end%>
</div>