<div class="col-xs-12">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <%=image_tag note.user.avatar.url(:thumb)%>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-12">
        <%=note.user.full_name%>
      </div>
      <div class="col-xs-12">
        <%=time_ago_in_words note.updated_at%> ago
      </div>
    </div>
    <div class="col-xs-2">
      Edit,Remove
    </div>
  </div>
  <div class="col-xs-12">
    <p>
      <%=note.description%>
    </p>
  </div>
</div>