<div class="col-xs-12">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <%=image_tag @note.user.avatar.url(:medium)%>
    </div>
    <div class="col-xs-8">
      <%=@note.user.full_name%>
    </div>
    <div class="col-xs-2">
      Edit,Remove
    </div>
  </div>
  <div class="col-xs-12">
    <p>
      <%=@note.description%>
    </p>
  </div>
</div>