@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "style";
@import 'nprogress';
@import 'nprogress-bootstrap';
.company-color{
  background-color: #BA2586;
}
.government-agency-color{
  background-color: #F0C514;
}
.investment-group-color{
  background-color: #8DC63F;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require style
 */
.pagination a, .pagination *{
  font-size: 20px;
  padding: 5px;
}
.pagination{
  padding-left:33%;
}

.company-color{
background-color: #BA2586;
}
.government-agency-color{
background-color: #F0C514;
}
.investment-group-color{
background-color: #8DC63F;
}
#query-search,#type-chosen{
  border: none;
  box-shadow: none;
}
span.top-link{
  cursor: pointer;
}
div.full_width:nth-of-type(even) {
  background: #fff;
}

.investment-group{
  background-color: #8dc63f !important;
}
.invst-grp{
  border-radius: 0px 0px 5px 5px;
  color: #fff;
}
.government-agency{
  background-color: #f0c514 !important;
}
.form-control {
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  -webkit-appearance: none;
  cursor: pointer;
}
#query-search.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
.meroon_bg, .yello_bg, .green_bg {
  padding: 0px 10px;
  margin: 0px 5px;
  @media (max-height: 767px) {
    padding: 0px 8px;
  }
}
.easy-autocomplete input {
  box-shadow: none;
}
.form-control {
  background-color: transparent;
}
.nav li:hover{
  background-color:rgba(255, 255, 255, 0.06);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
}
.nav>li>a {
  padding: 10px 10px;
}

.drpdwn-area{
  overflow: hidden;
  background: image-url('drop-icon.png') no-repeat right;
  right: 15px;
}
.number_class {
  border-radius: 3px;
}
#header {
  padding-top: 0px;
}
.popup-title{
  text-align: center;
  color: #FFF;
  margin-top: 10%;
  text-transform: capitalize;
}
img.note-avatar{
 border-radius: 10px;
}
body.menu-shown{
  overflow-x: hidden;
  main#main{
    overflow-y: hidden;
    height: 0;
  }
}
.fa-dot-circle-o.red{
  color:red;
}
.modal-backdrop.in{
  opacity: 0.85;
}
.mr10{
  margin-right: 10px;
}
.filter-icon{
  right: 15px;
  position: absolute;
  top: 5px;
  color: #555555;
  font-size: 20px;
}
#nprogress .bar{
  background: #ba2586;
}
#nprogress .spinner-icon{
  border-top-color: #ba2586;
  border-left-color: #ba2586;
}
.pl0{
  padding-left: 0 !important;
}
#tab-chooser{
  box-shadow: none;
}
footer.light_bg{
  background-color: #562F72;
}
footer p{
  padding-top: 10px;
}
.alert button.close{
  font-size: 25px !important;
}
#page-content-wrapper{
  min-height: 700px;
}
.pr0{
  padding-right: 0;
}
@grid-float-breakpoint: 992ppx;